* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font: inherit inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  background: transparent;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #000;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #F5F5F5;
  min-width: 320px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid--no-padding {
  padding: 0;
}

.none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 2.1875rem 0;
}

.navigation__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  margin-right: 1.875rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-name: menu;
  animation-name: menu;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.menu__link {
  padding: 0.3125rem 1.875rem;
  color: inherit;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.menu__link:hover {
  color: #FF6B00;
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.mobile-nav {
  position: absolute;
  left: 50%;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 7;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.mobile-nav.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mobile-nav__navigation {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6.25rem 0;
}

.mobile-nav__link {
  width: 100%;
  padding: 0.9375rem 1.5625rem;
}

.mobile-nav__link:hover,
.mobile-nav__link:active,
.mobile-nav__link:focus {
  color: #FF6B00;
}

.mobile-nav-button {
  position: relative;
  z-index: 10;
  width: 2.5rem;
  height: 1.875rem;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav-button__icon {
  background: #FF6B00;
  display: block;
  position: relative;
  width: 1.875rem;
  height: 0.125rem;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  background: #fff;
  position: absolute;
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  -webkit-transition: top 0.15s ease-in, -webkit-transform 0.15s ease-in;
  transition: top 0.15s ease-in, -webkit-transform 0.15s ease-in;
  -o-transition: transform 0.15s ease-in, top 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.mobile-nav-button__icon::before {
  left: 0;
  top: -0.625rem;
}

.mobile-nav-button__icon::after {
  left: 0;
  top: 0.625rem;
}

.mobile-nav-button__icon.active {
  background: transparent;
}

.mobile-nav-button__icon.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  -o-transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15, -webkit-transform 0.15s ease-in 0.15;
}

.mobile-nav-button__icon.active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  -o-transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15, -webkit-transform 0.15s ease-in 0.15;
}

.preview {
  background: url(../img/cover.jpg) no-repeat top center/cover;
  height: 100vh;
}

.preview__wrapper {
  max-width: 18.75rem;
  margin: 11.875rem 0 0 3%;
  -webkit-animation-name: preview;
  animation-name: preview;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.preview__title {
  font: 1.5rem/1.5 "Belleza", sans-serif;
  margin-bottom: 0.9375rem;
}

.preview__text {
  line-height: 1.5;
  margin-bottom: 1.5625rem;
}

@-webkit-keyframes preview {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes preview {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.btn {
  background: #FF6B00;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 2.5rem;
  font-family: "Belleza", sans-serif;
  color: #F5F5F5;
  padding: 0.3125rem 3.125rem;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.btn:hover,
.btn :focus,
.btn :active {
  background: #F5F5F5;
  color: #FF6B00;
}

.btn--reverse {
  background: #F5F5F5;
  color: #FF6B00;
}

.btn--reverse:hover,
.btn--reverse :focus,
.btn--reverse :active {
  background: #FF6B00;
  color: #F5F5F5;
}

.about {
  padding: 6.25rem 0;
}

.about__title {
  text-align: center;
  max-width: 48.125rem;
  margin: 0 auto 3.125rem;
}

.about__subtitle {
  font: 1.5rem/1.5 "Syne", sans-serif;
  color: #FF6B00;
  text-align: center;
  margin-bottom: 5rem;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__img {
  width: 49%;
  margin-right: 3%;
  -webkit-animation-name: spider;
  animation-name: spider;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.about__text {
  font: 1.25rem/1.5 "Syne", sans-serif;
  width: 48%;
}

.about__text p + p {
  margin-top: 0.625rem;
}

@-webkit-keyframes spider {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes spider {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.title {
  font: 2.5rem/1.3 "Belleza", sans-serif;
}

.subtitle {
  font: 600 1.25rem/1.3 "Belleza", sans-serif;
  color: #FF6B00;
}

.features {
  text-align: center;
  padding-bottom: 2.5rem;
}

.features__title {
  margin-bottom: 3.125rem;
}

.features__subtitle {
  margin-bottom: 0.9375rem;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.625rem -1.125rem;
}

.features__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0.625rem 1.125rem;
}

.features__text {
  font-family: "Syne", sans-serif;
  line-height: 1.7;
}

.animals {
  padding: 9.375rem 0 6.25rem;
}

.animals__title {
  text-align: center;
  margin-bottom: 3.125rem;
  position: relative;
}

.animals__title::after {
  background: url(../img/animal.jpg);
  content: "";
  position: absolute;
  width: 25.125rem;
  height: 22.25rem;
  top: -12.5rem;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}

.animals__subtitle {
  margin-bottom: 0.9375rem;
  padding-left: 1.875rem;
  position: relative;
}

.animals__subtitle::before {
  background: #FF6B00;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
}

.animals__item + .animals__item {
  margin-top: 2.5rem;
}

.animals__text {
  font-family: "Syne", sans-serif;
  line-height: 1.7;
}

.new-animals {
  padding-bottom: 8.125rem;
}

.new-animals__title {
  text-align: center;
  margin-bottom: 5.625rem;
}

.spider {
  padding-bottom: 6.25rem;
}

.spider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.spider__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 34%;
  flex: 1 0 34%;
  margin-right: 4%;
}

.spider__img img {
  border-radius: 0.625rem;
}

.spider__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 53%;
  flex: 0 1 53%;
}

.spider__text {
  font: 1.25rem/1.7 "Syne", sans-serif;
  color: #FF6B00;
  margin-bottom: 0.9375rem;
}

.spider--right .spider__img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 0;
}

.spider .spider__descr {
  margin-right: 4%;
}

.gallery {
  padding-bottom: 7.5rem;
}

.gallery__title {
  text-align: center;
  margin-bottom: 3.125rem;
}

.gallery__container {
  max-width: 50rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.gallery__slider.swiper-container {
  padding: 0.625rem;
}

.gallery__slider .swiper-button-prev::after,
.gallery__slider .swiper-button-next::after {
  display: none;
}

.gallery__slider .swiper-button-prev {
  left: 1.125rem;
}

.gallery__slider .swiper-button-next {
  right: 1.125rem;
}

.gallery__slider .swiper-slide {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.visitors {
  font-family: "Syne", sans-serif;
  line-height: 1.7;
  padding-bottom: 6.25rem;
}

.visitors__title {
  text-align: center;
  margin-bottom: 3.125rem;
}

.visitors__subtitle-text {
  font-size: 1.5rem;
  color: #FF6B00;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3.125rem;
  position: relative;
}

.visitors__subtitle-text::after {
  background: url(../img/back.jpg) no-repeat 0 0/cover;
  content: "";
  position: absolute;
  width: 50rem;
  height: 31.25rem;
  top: 60%;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

.visitors__price,
.visitors__shedule,
.visitors__address {
  margin-bottom: 3.125rem;
}

.visitors__subtitle-price,
.visitors__shedule-subtitle,
.visitors__address-subtitle {
  margin-bottom: 0.625rem;
}

.visitors__price-list {
  padding-left: 1.125rem;
  margin-bottom: 0.625rem;
}

.visitors__price-item,
.visitors__regulations-item {
  position: relative;
  padding-left: 1.125rem;
}

.visitors__price-item::before,
.visitors__regulations-item::before {
  background: #FF6B00;
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.visitors__regulations-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #FF6B00;
  margin-bottom: 1.875rem;
}

.visitors__regulations-list {
  padding-left: 1.125rem;
}

.visitors__regulations-item + .visitors__regulations-item,
.visitors__price-item + .visitors__price-item {
  margin-top: 0.625rem;
}

.contacts__title {
  text-align: center;
  margin-bottom: 3.125rem;
}

.info {
  font-family: "Syne", sans-serif;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 3.125rem;
}

.info__subtitle {
  margin-bottom: 0.9375rem;
}

.info__address {
  font-style: normal;
  margin-bottom: 0.9375rem;
}

.info__address p + p {
  margin-top: 0.3125rem;
}

.info__text {
  color: #FF6B00;
}

.map__wrapper {
  width: 100%;
  height: 25rem;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.footer {
  line-height: 1.5;
  padding: 3.4375rem 0;
}

.footer__copy {
  padding-top: 3.4375rem;
  text-align: center;
  color: #FF6B00;
  position: relative;
}

.footer__copy::after {
  background: #F5F5F5;
  content: "";
  position: absolute;
  max-width: 54.375rem;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.footer .menu {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@supports (-webkit-appearance:none) {
  .preview {
    background-image: url(../img/cover.webp);
  }

  .animals__title::after {
    background-image: url(../img/animal.webp);
  }

  .visitors__subtitle-text::after {
    background-image: url(../img/back.webp);
  }
}

@media (max-width: 991.98px) {
  .menu__link {
    padding: 0.3125rem 0.9375rem;
  }

  .title {
    font-size: 2rem;
  }

  .about__subtitle,
  .visitors__subtitle-text {
    font-size: 1.25rem;
    margin-bottom: 3.125rem;
  }

  .about__text {
    font-size: 1rem;
  }

  .spider__text {
    font-size: 1.125rem;
  }

  .new-animals,
  .gallery {
    padding-bottom: 3.75rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767.98px) {
  .header .menu {
    display: none;
  }

  .mobile-nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__img {
    width: 80%;
    margin: 0 0 0.9375rem 0;
  }

  .about__text {
    width: 100%;
  }

  .features__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .features__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .spider__text {
    font-size: 1rem;
  }

  .new-animals {
    padding-bottom: 0;
  }

  .gallery__title {
    margin-bottom: 1.125rem;
  }

  .visitors__regulations-title {
    margin-bottom: 0.9375rem;
  }

  .visitors {
    padding-bottom: 3.75rem;
  }

  .footer {
    padding: 1.875rem 0;
  }

  .footer .navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 575.98px) {
  .mobile-nav {
    left: 30%;
  }

  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navigation__logo {
    margin: 0 0 1.5625rem 0;
  }

  .mobile-nav-button {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .mobile-nav__navigation {
    padding: 12.5rem 0 7.5rem 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .about__title {
    margin: 0 auto 1.875rem;
  }

  .about__subtitle,
  .visitors__subtitle-text {
    font-size: 1rem;
    margin-bottom: 1.875rem;
  }

  .about__text,
  .features__text,
  .animals__text,
  .spider__text,
  .visitors {
    font-size: 0.875rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .features__title,
  .animals__title,
  .visitors__title,
  .contacts__title {
    margin-bottom: 1.875rem;
  }

  .spider__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .spider__img {
    width: 60%;
    margin: 0 0 2.1875rem;
  }

  .new-animals__title {
    margin-bottom: 2.5rem;
  }

  .spider__descr {
    text-align: center;
  }

  .spider--right .spider__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .spider {
    padding-bottom: 3.75rem;
  }

  .visitors__regulations-title {
    font-size: 1.25rem;
  }

  .visitors__price,
  .visitors__shedule,
  .visitors__address {
    margin-bottom: 1.875rem;
  }

  .footer .menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about {
    padding: 3.75rem 0;
  }

  .animals {
    padding: 5rem 0 3.75rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 460px) {
  .animals__subtitle {
    padding: 0;
  }

  .animals__subtitle::before {
    display: none;
  }

  .visitors__price-item,
  .visitors__regulations-item {
    padding: 0;
  }

  .visitors__price-item::before,
  .visitors__regulations-item::before {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 400px) {
  .mobile-nav {
    left: 0;
  }

  .spider__img {
    width: 80%;
  }

  .visitors__subtitle-text::after {
    display: none;
  }

  .visitors__regulations-title {
    font-size: 1.125rem;
  }

@supports (-webkit-appearance:none) {

}
}